/* add min version of materialize */
@import "~materialize-css/dist/css/materialize.min.css";

/* to show loader by center*/
html, body, .loading-wrapper {
    min-height: 100vh;
    padding: 0;
}

/* Auth page styles */
.mr10 {
    margin-right: 10px;
}

.input.yellow-input {
    border-bottom: 1px solid #fff!important;
    box-shadow: 0 1px 0 0 #fff!important;
}

input.yellow-input + label {
    color: #ffffff!important;
}

.input-field .prefix {
    color: #ffffff!important;
}

input.yellow-input:focus {
    border-bottom: 1px solid #ffeb3b!important;
    box-shadow: 0 1px 0 0 #ffeb3b!important;
}

input.yellow-input:focus + label {
    color: #ffeb3b!important;
}

input.yellow-input:focus + .prefix.active {
    color: #ffeb3b!important;
}

.input-field .prefix.active {
    color: #ffeb3b!important;
}

